header {
    text-align: center;
    background-color: #BDB76B;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #BDB76B;
    color: #fff;
    padding: 10px;
}
.map {
    display: flex;
    justify-content: center;
}

.img:hover {
    transform: scale(1.2);
}

.img {
     height: 350px;
     border: 6px solid #000000;
     border-radius: 30px;
     display: flex;
     justify-content: flex-start;
     transition: transform 0.3s ease;
}

.mountein {
    height: 300px;
    width: 200px;
    border: 2px solid #000000;
	padding: 15px; 
	background: #666; 
    margin-right: 10px; 
	margin-bottom: 10px; 
    text-align: center;
    display: flex;
    justify-content:space-between;
}